---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE } from '../site.config';
import PostList from '../components/PostList.astro';

const allPosts = await getCollection('blog', ({ data }) => !data.draft);
const posts = allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title={SITE.name} description={SITE.description}>
  <p class="post-meta">{SITE.tagline}</p>
  <PostList posts={posts} />
</BaseLayout>
